.form-table {
    width: 100% !important;
    border-collapse: separate !important;
    border-spacing: 0px !important;
    display: flex !important;
    flex-direction: column !important;
    border: 1px solid #ccc !important;
    margin: 10px 0 20px 0 !important;
    border-radius: 8px;
    overflow: hidden;
}

.form-table thead, .form-table tbody {
    display: flex !important;
    flex-direction: column;
}

.form-table tr {
    display: flex !important;
    flex-direction: row !important;
    background-color: #f9f9f9;
    padding: 10px !important;
    gap: 10px;
    align-items: center !important;
}

.form-table th, .form-table td {
    padding: 0px !important;
    text-align: left;
    border: none;
    width: 99% !important;
    margin: 0px !important;
}

.form-table .actions, .form-table .action, .form-table .enumerations, .form-table .enum {    
    width: min-content !important;
}

.form-table .enum {
    display: flex;
    align-items: center;
    justify-self: center;
}

.form-table .button-link-delete {
    background-color: transparent;
    color: #fff;
    border: 1px solid #ff0000 !important;
    color: #ff0000 !important;
    padding: 2px !important;
    border-radius: 5px;
    cursor: pointer;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.form-table .actions {
    padding: 0px 12.5px !important;
}

.form-table input {
    width: 100% !important;
}

.form-wrap .actions {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    gap: 10px;
    width: max-content;
}

.form-wrap .actions.translations-actions {
    bottom: 0 !important;
    position: sticky !important;
    background: #f0f0f1;
    width: 100%;
    padding: 6px;
}

.trnaslations-form .translation-row {
    background: transparent;
    transition: 500ms all;
}

.translations-form .highlight-row {
    background-color: rgb(167, 240, 167);  
    transition: 500ms all;
}

.button.button-red {
    background: #d91313;
    color: #fff;
    border: #d91313;
}

.translations-form-tools {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: bottom;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 10px;
    border: 1px solid #ccc !important;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.translations-form-tools .buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.missing-translations {
    padding: 15px;
}

.spinner-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: left;
    margin: 10px 0;
}

.spinner-box p {
    margin: 0px !important;
}

.ctp-separator {
    width: 100%;
    height: 1px;
    display: block;
    background-color: #ccc;
    margin: 5px 0; 
}

.ctp-blank-separator {
    width: 100%;
    height: 1px;
    display: block;
    margin: 10px 0;
}

/* modal */
.ctp-modal-wrap {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.ctp-modal .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ctp-modal .modal-header .close-modal, .ctp-toast .close-toast {
    border-radius: 50%;
    padding: 5px;
    border: 1px solid #0c0c0c;
    cursor: pointer;
    background-color: transparent;
    transition:cubic-bezier(1, 0, 0, 1) 0.3s;
}

.ctp-modal .modal-header .close-modal:hover, .ctp-toast .close-toast:hover {
    background-color: #0c0c0c;
    color: #fff;
}

.ctp-modal {
    z-index: 12;
    background: #fff;
    border-radius: 8px;
    padding: 10px;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: max-content;
    height: max-content;
    max-width: 380px;
}

.ctp-modal-overlay {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 11;
    background: #00000050;
}

/* Info box */
.info-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.info-box.flex-col {
    flex-direction: column !important;
    gap: 6px !important;
    align-items: flex-start !important;
}

.info-box.flex-col p {
    margin: 5px 0 !important;
}

/* Toast notice */
.ctp-toast-messages {
    position: fixed;
    margin: auto;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 999999;
}

.ctp-toast-messages .ctp-toast {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    background: #fff;
    color: #0c0c0c;
    padding: 10px;
    border-radius: 5px;
    border-left-width: 2px;
    border-left: 2px solid green;
}

/* Buttons */
.button .spinner-box {
    padding: 0px !important;
    margin: 0px !important; 
    gap: 4px !important;
    align-items: center;
    justify-content: center ;
}

.relative-btn {
    position: relative !important;
}

.button:disabled {
    cursor: not-allowed;
}

.relative-btn .spinner-box {
    padding: 0px !important;
    margin: 0px !important; 
    gap: 4px !important;
    align-items: center;
    justify-content: center ;
}

/* search box */
.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    gap: 10px;
}

.search-box .search-translations-input {
    width: 100%;
}

.search-box .submit-search-translations {
    width: max-content;
}

/* Pagination box */
.pagination-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.pagination-box .results {
    display: flex;
    gap: 5px;
    align-items: center;
}

.pagination-box .pagination {
    display: flex;
    gap: 4px;
    overflow-x: scroll;
    max-width: 300px;
}

/* List */
ul {
    list-style-type: circle;
    padding: 0 0 0 20px;
}

/* Accordion */
.accordion-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 0 20px 0;
}

.accordion-block {
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: space-between;
    background-color: #f9f9f9;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.accordion-block .accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    transform: 500ms all;
    padding: 5px 10px;
}

.accordion-block .accordion-header:hover {
    background-color: #e0e0e0;
}

.accordion-block .accordion-body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.accordion-open .accordion-header {
    background-color: #e0e0e0;
}

.accordion-open .accordion-body {
    padding: 5px 10px;
}

/* Responsive table - displays properly on mobile */
@media (max-width: 768px) {
    table {
        display: flex;
        flex-direction: column;
        border: none;
    }

    thead {
        display: flex;
        flex-direction: column;
        border-right: 2px solid #ccc;
        flex: 1;
    }

    tbody {
        display: flex;
        flex-direction: column;
        flex: 2;
    }

    th, td {
        display: block;
        width: 100%;
    }

    /* Align table headers and body side by side */
    tr {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    th, td {
        width: 45%;
    }

    th {
        border-right: none;
    }

    td {
        border-left: none;
    }
}

@media (max-width: 738px) {
    #ctp-settings-page .form-wrap .translations-form-tools {
        flex-direction: column !important;
    }
}

@media (max-width: 600px) {
    .pagination-box {
        flex-direction: flex !important;
        flex-wrap: wrap;
    }

    .pagination-box .results {
        width: 49%;
        order: 1;
        margin: 0 0 10px 0;
    }

    .pagination-box .tot-results {
        width: 49%;
        order: 2;
        text-align: right;
        margin: 0 0 10px 0;
    }

    .pagination-box .pagination {
        width: 100% !important;
        max-width: 100% !important;
        order: 3;
        justify-content: center;
        padding: 4px 0px;
    }
}